<h1>Просмотр данных по Организатору</h1>

<p>Фамилия: <%= @org.last_name %><p><br/>
 <p>Имя: <%= @org.first_name %><p><br/>
 <p>Почта: <%= @org.email %><p><br/>
 <p>Телефон 1: <%= @org.tel_1 %><p><br/>
 <p>Телефон 2: <%= @org.tel_2 %><p>
